#first{
    width:100px;
    height:100px;
    background-color: blue;
    animation-name: anim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    margin: 200px;
    animation-direction: normal;
}
#first:hover{

}
@keyframes anim{
    0%{background-color: blue}
    20%{background-color: brown}
    40%{background-color: cadetblue}
    50%{background-color: black}
    60%{background-color: cadetblue}
    80%{background-color: brown}
    100%{background-color: blue;transform: scale(0)}
}